* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arsenal SC", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 10vh;
  background: linear-gradient(#222222, #222222, #222222, #454545);
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  z-index: 1;
}

main {
  display: grid;
  background-color: #f2f2f2;
  grid-template-columns: 4fr 9fr;
  width: 100vw;
  height: calc(100vh - 2vh);
  padding-top: 13vh;
  padding-bottom: 8vh;
}

.left {
  border-right: 2px solid rgb(146, 146, 146);
  padding-left: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    list-style: none;
  }
}

.left-itl {
  font-style: italic;
}

.right {
  margin-left: 50px;
  height: 100%;
  overflow-y: auto;
}

.right div h1 {
  font-size: 35px;
}

.right div p {
  padding: 8px 25px;
  line-height: 135%;
  font-size: 17px;
}

.right div li {
  padding-left: 40px;
  list-style: circle;
}

.functions ul li {
  list-style: decimal;
}

.functions ul li button a {
  text-decoration: none;
  color: black;
}

.codebtn {
  padding: 5px 25px;
  background-color: rgb(122, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.introimg {
  height: 500px;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}
code {
  display: block;
  white-space: pre;
}
